$white: #fff;
$green: #43A97E;
$darkorange: #EF672C;
$orange: #F1713A;
$purple: #281833;
$purple-light: #846399;
$purple-dark: #201228;
$menu_purple: #2F2039;
$footer_purple: #23152D;
$t-purple-dark: #543A65;
$t-purple-light: #563C67;
$text_light: rgba(58,58,58,0.8);
$text_dark: rgba(255,255,255,0.8);

$main_grad_bg: linear-gradient(180deg, #201228 0%, #44305A 100%);
$light_grad_bg: linear-gradient(270deg, #402850 0%, #5F4470 49.96%, #402850 100%);
$radial_grad_bg: radial-gradient(circle, #EF672C 3%, rgba(135,44,27,0) 45%);
