.l-pos--rel {
  position: relative;
}

.l-pos--abs {
  position: absolute;
}

.l-ovf--hid {
  overflow: hidden;
}

.l-ovf--vis {
  overflow: visible;
}

.l-index--0 {
  z-index: 0;
}

.l-index--1 {
  z-index: 1;
}

.l-index--2 {
  z-index: 2;
}

.l-index--3 {
  z-index: 3;
}

.l-index--4 {
  z-index: 4;
}

.l-index--5 {
  z-index: 5;
}

.l-index--6 {
  z-index: 6;
}

.l-index--7 {
  z-index: 7;
}

.l-index--99 {
  z-index: 99;
}
